{% extends 'Templates/base.html.twig' %}

{% block body%}
    <div class="col">
                    <div class="card offset-md-4 col-md-4 border-dark my-3  bg-primary text-white" >
                        <img class="card-img" alt="Responsive image" src={% if contact.picture == '' %} "\images\contacts\head.png"/>
                        {% endif %}

                        <div class="card-body border-top">
                            <h4 class="card-title text-center">{{ contact.name ~" "~ contact.surname }}</h4>
                            <p>Address: {{ contact.address }}</p>
                            <p>Phone: {{ contact.telephone }}</p>
                            <p>Note: {{ contact.note }}</p>
                            <p>Type: {{ contact.type }}</p>
                        </div>
                    </div>
{% endblock %}