{% extends 'base.html.twig' %}

{% block body%}
    {% for contact in contacts %}
        <h4>Imię: {{ contact.name }}</h4>
        <p>Nazwisko: {{ contact.surname }}</p>
        <p>Adres: {{ contact.address }}</p>
        <p>Tel: {{ contact.telephone }}</p>
        <p>Notatka: {{ contact.note }}</p>
        <p>Rodzaj: {{ contact.type }}</p>
    {% endfor %}
{% endblock %}