{% extends 'Templates/base.html.twig' %}
{% block body %}
    {% if not is_granted("ROLE_USER") %}
        <div class="d-flex col-md-10 offset-md-1">
            <div class="col-md-6">
                <h3 class="display-4">{{ 'you already have account'|trans }}?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget imperdiet urna. Phasellus commodo venenatis metus ut iaculis. Maecenas id faucibus enim. Sed aliquet purus nisl, ut luctus lorem porttitor ut. Nam ut ipsum volutpat, commodo dui in, finibus erat. Phasellus lectus purus, tempor id finibus in, auctor quis ipsum. Nulla a ipsum massa. Maecenas finibus, nulla quis efficitur pulvinar, sapien quam fringilla nisl, ac vulputate purus felis eget odio. Donec sodales felis a justo volutpat lobortis.</p>
                <a class="btn btn-primary" href="{{ url('fos_user_security_login') }}">{{ 'sign in'|trans }}</a>
            </div>
            <div class="col-md-6">
                <h3 class="display-4">{{ 'you are not our user yet'|trans }}?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget imperdiet urna. Phasellus commodo venenatis metus ut iaculis. Maecenas id faucibus enim. Sed aliquet purus nisl, ut luctus lorem porttitor ut. Nam ut ipsum volutpat, commodo dui in, finibus erat. Phasellus lectus purus, tempor id finibus in, auctor quis ipsum. Nulla a ipsum massa. Maecenas finibus, nulla quis efficitur pulvinar, sapien quam fringilla nisl, ac vulputate purus felis eget odio. Donec sodales felis a justo volutpat lobortis.</p>
                <a class="btn btn-primary" href="{{ url('fos_user_registration_register') }}">{{ 'register'|trans }}</a>
            </div>
        </div>
        {% else %}

            <div class="d-flex col-md-10 offset-md-1">
                <div class="col-10 ">
                    <h3 class="display-4 ">{{ 'news'|trans }}</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget imperdiet urna. Phasellus commodo venenatis metus ut iaculis. Maecenas id faucibus enim. Sed aliquet purus nisl, ut luctus lorem porttitor ut. Nam ut ipsum volutpat, commodo dui in, finibus erat. Phasellus lectus purus, tempor id finibus in, auctor quis ipsum. Nulla a ipsum massa. Maecenas finibus, nulla quis efficitur pulvinar, sapien quam fringilla nisl, ac vulputate purus felis eget odio. Donec sodales felis a justo volutpat lobortis.</p>
                </div>
            </div>

    {% endif %}
{% endblock %}